body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.board{
    background-color: yellow;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.field{
    background-color: white;
    width: 6rem;
    height: 6rem;
}

.field:hover{
    cursor: pointer;
}

.round{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}